
/*Navbar Links*/

.navbar-dark .navbar-nav .nav-link {
    color: white;
}


.carousel-caption {
    bottom: 170px;
    background: rgba(3,3,3,0.3);
    padding-right: 20px;
    padding-left: 20px;    
}

h1 , h4 {
    color: floralwhite;
}

/* about section */ 
.about {
 padding-top: 120px;
 background-image:url("../image/jumbotron2.jpg");
 background-position: center;
 background-attachment: fixed;
 min-height: 800px;
 color: gold;
}

.about #title {
    color: gold;
    padding-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about .lead {
    font-size: 25px;
    padding-bottom: 20px;
}

/* skills section */

.progress {
    margin-bottom: 10px;
}


.skills {
    padding-bottom: 50px;
    height: 400px;
    min-height: 500px;
}

.skills h1 {
    padding-top: 70px;
    color: black;
    margin-bottom: 40px;
    font-family: sans-serif;
    text-align: center;
}

.progress-bar {
    font-weight: 500;
    font-size: small;
}


/*contact us section */

.contact {
    background-image: url("../image/contact.jpg");
    min-height: 300px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contact i, .contact p {
    color: bisque;
}

form label {
    color:white;
}

section form {
    margin-top: 30px;
}

.contact textarea , .contact input {
    background-color: rgb(238, 227, 227);
}

/*footer*/

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #333;
    color: white;
}
.footer h3 {
    color: crimson;
    font-style: italic; 
}

.footer .fab {
    margin-top: 10px;
    padding-right: 10px;
}